<%= link_to "#{@board.title}に戻る",board_path(@board) %>
<hr>
<% if @board.errors.any? %>
  <ul></ul>
    <% @board.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
<% end %>
<h1> <%= @board.title %>を編集する </h1>
<%= form_for @board do |f|%>
  title: <%= f.text_field :title%><br>
  editor: <%= f.text_field :editor %> <br>
  <%= f.submit %>
<% end %>
<hr>